<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit activity</title>

    <div th:insert="~{/fragments/navbar :: dependencies}"></div>
</head>

<body>
<div class="container-fluid">
    <div th:insert="~{/fragments/navbar :: navigation}"></div>
    <div class="container col-md-4 offset-4">
        <div class="card-body">
            <h5 class="card-title" style="color: #0275d8">Activity form</h5>
        <form action="http:\\localhost" enctype="multipart/form-data" method="post"
              th:action="@{'/activities/' + ${activity.getId()} + '/saveimage'}">
            <div class="row" th:if="${activity.id ne null}">
                <div class="col-md-9">
                    <img src="../../static/images/guacamole400x400WithX.jpg"
                         th:src="@{'/activities/' + ${activity.id} + '/getimage'}"
                         width="80" height="80">
                    <label class="control-label">Logo</label>
                    <input accept=".jpg, .jpeg, .png" class="file" id="imagefile" name="imagefile" type="file">
                </div>
                <br>
                <div class="col-md-2">
                <button class="btn btn-primary" type="submit" title="Save image as logo">Save</button>
                </div>
            </div>
        </form>
        <br>
        <form th:object="${activity}" th:action="@{'/activities/' + ${activity.getId()} + '/save'}" method="post"
              class="form-horizontal">
            <input type="hidden" th:field="*{id}">
            <div th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
                <p th:text="#{operator.error}">Please Correct Errors Below</p>
            </div>
            <div class="card">
                    <div class="row">
                        <label for="dn" class="col-md-3 control-label">Description:</label>
                        <div class="col-md-8 form-group" th:class="${#fields.hasErrors('description')}
                               ? 'col-md-6 form-group has-error' : 'col-md-6 form-group'">
                            <input type="text" class="form-control" id="dn" placeholder="Description" th:field="*{description}">
                            <span class="help-block" th:if="${#fields.hasErrors('description')}">
                                        <ul>
                                            <li th:each="err : ${#fields.errors('description')}"
                                                th:text="${err}"/>
                                        </ul>
                                    </span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <p>Type:</p>
                        </div>
                        <div class="col-md-4">
                            <select class="form-control" th:field="*{type}">
                                <option th:each="type : ${T(com.balakin.diary.domain.Type).values()}"
                                        th:value="${type.name()}"
                                        th:text="${type.name()}"
                                >val
                                </option>
                            </select>

                            <select class="form-control" th:remove="all">
                                <option>SEVEN_AM</option>
                                <option>EIGHT_AM</option>
                                <option>NINE_AM</option>
                            </select>

                        </div>
                    </div>
                <br>
                <div class="row">
                    <div class="col-md-2">
                <button class="btn btn-primary" type="submit">Submit</button>
                    </div>
                    <div class="col-md-2 offset-7" th:if="${activity.id ne null}">
                            <img data-toggle="modal" data-target="#exampleModal" src="../static/images/delete-button.jpg"
                                 th:src="@{/images/delete-button.jpg}" height="45" width="45" class="card-img-top" title="Delete activity">
                    </div>

                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Delete activity</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    Do you really want to delete this activity. All related entries will be erases as well.
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <a  type="button" class="btn btn-primary" th:href="@{'/activities/' + ${activity.id}+'/delete'}">Delete</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
        </form>
        </div>
    </div>

</div>
</body>
</html>