<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Activities</title>
    <div th:insert="~{/fragments/navbar :: dependencies}"></div>
</head>

<body>
<div class="container-fluid">
    <div th:insert="~{/fragments/navbar :: navigation}"></div>
    <div class="container col-md-6 offset-3">
    <div class="row">
        <div class="col-md-3 offset-1">
            <a class="btn btn-primary" href="#" role="button" th:href="@{'/activities/LEISURE'}">Leisure</a>
        </div>

        <div class="col-md-3">
            <a type="button" class="btn btn-secondary" th:href="@{'/activities/JOB'}">Job/ Work</a>
        </div>

        <div class="col-md-3">
            <a type="button" class="btn btn-success" th:href="@{'/activities/UPGROWTH'}">Upgrowth</a>
        </div>
    </div>
    <br>
    <br>
    <div class="row">
    <div class="col-md-4">
        <a class="btn btn-link" href="#" role="button" th:href="@{'/activities/new'}">Add new activity</a>
    </div>
    </div>

    <div class="row">
    <table class="table table-light">
        <tr th:each="activity : ${activities}">
            <td>1</td>
            <td> <img th:src="@{'/activities/' + ${activity.id} + '/getimage'}"
                      width="40" height="40"></td>
            <td th:utext="${#strings.unescapeJava(#strings.replace(#strings.escapeJava(activity.description),' ','&lt;br /&gt;'))}">
                Description</td>
            <td><a href="#" th:href="@{'/activities/' + ${activity.id}+'/edit'}"
                   th:utext="${#strings.unescapeJava(#strings.replace(#strings.escapeJava('Edit'),' ','&lt;br /&gt;'))}">Edit</a></td>
        </tr>
    </table>
</div>
</div>
</div>
<script>
    $('.table tbody tr').each(function (i) {
        var number = i + 1;
        $(this).find('td:first').text(number + ".");
    });
</script>
</body>
</html>