<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:fragment="dependencies">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
            integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <script crossorigin="anonymous"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
    </div>
</head>
<body>
<div th:fragment="navigation">
    <nav id="sticky-top" class="navbar navbar-expand-lg navbar-light sticky-top " style="background-color: white">
        <a class="navbar-brand offset-4" href="#" th:href="${'/index'}">
            <img  src="../static/images/comearth.png" th:src="@{/images/comearth.png}" alt="..." width="80" height="80" >
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div  class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#" th:href="${'/index'}" style="font-size: larger;font-weight: bold">Charts</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" th:href="${'/entries/show/today'}" style="font-size: larger;font-weight: bold">Entries</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" th:href="${'/activities/LEISURE'}" style="font-size: larger;font-weight: bold">Activities</a>
                </li>
            </ul>
        </div>
    </nav>
</div>
</body>
</html>