<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit entry</title>

    <div th:insert="~{/fragments/navbar :: dependencies}"></div>
</head>

<body>
<div class="container-fluid">
    <div th:insert="~{/fragments/navbar :: navigation}"></div>
    <div class="container col-md-4 offset-4">
        <form th:object="${entry}" th:action="@{'/entries/' + ${entry.getId()} + '/save'}" method="post"
              class="form-horizontal">
            <div th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
                <p th:text="#{operator.error}">Please Correct Errors Below</p>
            </div>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title" style="color: #0275d8">Entry form</h5>
                    <div class="row">
                        <div class="col-md-4 ">
                            <a class="btn btn-primary" href="#" role="button" th:href="@{'/entries/' + ${entry.id}+'/edit/LEISURE'}">Leisure</a>
                        </div>

                        <div class="col-md-4">
                            <a type="button" class="btn btn-secondary" th:href="@{'/entries/' + ${entry.id}+'/edit/JOB'}">Job/ Work</a>
                        </div>

                        <div class="col-md-4">
                            <a type="button" class="btn btn-success" th:href="@{'/entries/' + ${entry.id}+'/edit/UPGROWTH'}">Upgrowth</a>
                        </div>
                    </div>
                    <br>

                        <input type="hidden" th:field="*{id}">
                        <div class="row">
                        <div class="col-md-5">
                            <select name="activity">
                                <option class="dropdown-item" th:each="activity : ${activities}"
                                        th:text="${activity.getDescription()}"
                                        th:value="${activity.getId()}"
                                        th:selected="${entry.getId()ne null and entry.getActivity().getDescription().equals(activity.getDescription())}">Activity
                                </option>
                            </select>
                        </div>
                        </div>
                                <br>
                                <div class="row">
                        <div class="col-md-5">
                            <input type="date" class="form-control" id="date" placeholder="Date"
                                   th:field="*{date}"
                                   th:errorclass="has-error">
                        </div>
                            <div class="col-md-7">
                                    <span class="help-block" th:if="${#fields.hasErrors('date')}">
                                        <ul>
                                            <li th:each="err : ${#fields.errors('date')}"
                                                th:text="${err}"/>
                                        </ul>
                                    </span>
                            </div>
                        </div>
                    <br>
                                <div class="row">
                        <div class="col-md-3">
                            <input type="text" class="form-control" id="duration" placeholder="Time"
                                   th:field="*{duration}"
                                   th:errorclass="has-error">
                        </div>
                                    <div class="col-md-7">
                                    <span class="help-block" th:if="${#fields.hasErrors('duration')}">
                                        <ul>
                                            <li th:each="err : ${#fields.errors('duration')}"
                                                th:text="${err}"/>
                                        </ul>
                                    </span>
                                    </div>

                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-2">
                                <button class="btn btn-primary" type="submit">Submit</button>
                            </div>
                            <div class="col-md-2 offset-7" th:if="${entry.id ne null}">
                                <img data-toggle="modal" data-target="#exampleModal" src="../static/images/delete-button.jpg"
                                     th:src="@{/images/delete-button.jpg}" height="45" width="45" class="card-img-top" title="Delete activity">
                            </div>

                            <!-- Modal -->
                            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Delete entry</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            Do you really want to delete this entry?
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                            <a  type="button" class="btn btn-primary" th:href="@{'/entries/' + ${entry.id}+'/delete'}">Delete</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
        </form>
    </div>
</div>
                        </div>
                            </div>
                        </div>
            </form>


        </div>
        </div>
    </div>

</div>
</body>
</html>